In [81]:
import pandas as pd
import numpy as np
import math

In [112]:
file=pd.read_csv('Copy of genetics_snp.tsv',skiprows=13,delimiter='\t', dtype={'public_client_id' : object})

In [113]:
df=pd.DataFrame(file)

In [114]:
df.head()

,public_client_id,genome_id,genome_vendor,genotyping_technology,gstm1_gene,gstt1_gene,rs10246939,rs1042713,rs1042714,rs1048943,...,rs7498665,rs762551,rs7647305,rs7832552,rs7903146,rs8192678,rs894160,rs925946,rs9282861,rs9939609
0,01000261,A477AV494-007,NEXTCODE,WGS,Present,Present,CT,AA,CC,TT,...,AG,AC,CC,CT,CC,CT,CC,GG,TT,AT
1,01001298,DS-309044,WUXI_SNP,MEG,NaN,NaN,TT,GG,GG,TT,...,NaN,AC,NaN,NaN,CC,NaN,CT,NaN,NaN,TT
2,01001467,DS-303402,WUXI_SNP,MEG,NaN,NaN,TT,AG,CG,TT,...,NaN,AC,NaN,NaN,CT,NaN,CT,NaN,NaN,AT
3,01001548,DS-327770,WUXI_SNP,MEG,NaN,NaN,CT,GG,CG,TT,...,NaN,AC,NaN,NaN,CC,NaN,CT,NaN,NaN,AA
4,01001661,DS-268028,NEXTCODE,WGS,Absent,Absent,CC,AG,CC,TT,...,AA,AC,CC,CT,CC,TT,CT,GG,CC,TT

In [85]:
df[['gstm1_gene','gstt1_gene']].head()

  gstm1_gene gstt1_gene
0    Present    Present
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4     Absent     Absent

In [86]:
df.insert(5, 'gstm1_gene_nrisk', np.NaN)
df.insert(7, 'gstt1_gene_nrisk', np.NaN)
df.head()

,public_client_id,genome_id,genome_vendor,genotyping_technology,gstm1_gene,gstm1_gene_nrisk,gstt1_gene,gstt1_gene_nrisk,rs10246939,rs1042713,...,rs7498665,rs762551,rs7647305,rs7832552,rs7903146,rs8192678,rs894160,rs925946,rs9282861,rs9939609
0,01000261,A477AV494-007,NEXTCODE,WGS,Present,NaN,Present,NaN,CT,AA,...,AG,AC,CC,CT,CC,CT,CC,GG,TT,AT
1,01001298,DS-309044,WUXI_SNP,MEG,NaN,NaN,NaN,NaN,TT,GG,...,NaN,AC,NaN,NaN,CC,NaN,CT,NaN,NaN,TT
2,01001467,DS-303402,WUXI_SNP,MEG,NaN,NaN,NaN,NaN,TT,AG,...,NaN,AC,NaN,NaN,CT,NaN,CT,NaN,NaN,AT
3,01001548,DS-327770,WUXI_SNP,MEG,NaN,NaN,NaN,NaN,CT,GG,...,NaN,AC,NaN,NaN,CC,NaN,CT,NaN,NaN,AA
4,01001661,DS-268028,NEXTCODE,WGS,Absent,NaN,Absent,NaN,CC,AG,...,AA,AC,CC,CT,CC,TT,CT,GG,CC,TT

In [87]:
df.iloc[:,4:8].head()

  gstm1_gene  gstm1_gene_nrisk gstt1_gene  gstt1_gene_nrisk
0    Present               NaN    Present               NaN
1        NaN               NaN        NaN               NaN
2        NaN               NaN        NaN               NaN
3        NaN               NaN        NaN               NaN
4     Absent               NaN     Absent               NaN

In [88]:
def func(row):
    if row['gstm1_gene']=='Present':
        return 1
    elif row['gstm1_gene']=='Absent':
        return 0
    
df['gstm1_gene_nrisk']=df.apply(func, axis=1)

def func(row):
    if row['gstt1_gene']=='Present':
        return 1
    elif row['gstt1_gene']=='Absent':
        return 0
    
df['gstt1_gene_nrisk']=df.apply(func, axis=1)

df.iloc[:,4:8].head()

  gstm1_gene  gstm1_gene_nrisk gstt1_gene  gstt1_gene_nrisk
0    Present               1.0    Present               1.0
1        NaN               NaN        NaN               NaN
2        NaN               NaN        NaN               NaN
3        NaN               NaN        NaN               NaN
4     Absent               0.0     Absent               0.0

In [89]:
for column in df.columns.tolist():
    print(f'{column}: {df[column].unique()}')

public_client_id: ['01000261' '01001298' '01001467' ... 'ZU612255' 'ZU621944' 'ZU687756']
genome_id: ['A477AV494-007' 'DS-309044' 'DS-303402' ... 'DS-295687' 'DS-298925'
 'DS-302373']
genome_vendor: ['NEXTCODE' 'WUXI_SNP' 'TWOTHREEANDME']
genotyping_technology: ['WGS' 'MEG' 'GSAv2MD' '23andMe']
gstm1_gene: ['Present' nan 'Absent']
gstm1_gene_nrisk: [ 1. nan  0.]
gstt1_gene: ['Present' nan 'Absent']
gstt1_gene_nrisk: [ 1. nan  0.]
rs10246939: ['CT' 'TT' 'CC']
rs1042713: ['AA' 'GG' 'AG']
rs1042714: ['CC' 'GG' 'CG' 'Unknown']
rs1048943: ['TT' 'CT' 'Unknown' 'CC' nan]
rs1050450: ['AG' nan 'GG' 'AA' 'Unknown']
rs1052700: ['AT' 'AA' 'TT' 'Unknown']
rs1056836: ['CG' nan 'GG' 'CC']
rs10838738: ['AG' nan 'GG' 'AA']
rs10913469: ['CT' 'TT' 'CC' 'Unknown']
rs10938397: ['AA' nan 'GG' 'AG']
rs1121980: ['AG' 'AA' 'GG']
rs1130990: ['Present' 'Unknown' nan 'Absent']
rs1137101: ['AA' nan 'GG' 'AG']
rs113851554: ['GG' 'GT' 'Unknown' 'TT']
rs1175544: ['CC' nan 'CT' 'TT' 'Unknown']
rs1205: ['CT' 'CC' 'TT']
rs12255372: ['GG' 'GT' 'TT']
rs12401738: ['AG' nan 'GG' 'AA' 'Unknown']
rs12722: ['CC' 'Unknown' 'CT' 'TT']
rs143383: ['AA' 'GG' 'AG']
rs145946881: ['CC' 'Unknown']
rs1544410: ['CT' nan 'CC' 'TT']
rs1554606: ['GG' nan 'TT' 'GT' 'Unknown']
rs1695: ['AG' 'AA' 'GG']
rs1726866: ['AG' 'AA' 'GG']
rs174537: ['GG' 'GT' 'TT']
rs17782313: ['TT' nan 'CT' 'CC']
rs1799722: ['CC' nan 'CT' 'TT' 'Unknown']
rs1799883: ['CT' nan 'CC' 'TT']
rs1799895: ['CG' 'CC' 'Unknown']
rs1799945: ['CC' 'CG' 'GG']
rs1799983: ['GG' 'TT' 'GT' 'Unknown']
rs1800012: ['CC' 'AC' 'AA']
rs1800497: ['GG' nan 'AG' 'AA' 'Unknown']
rs1800562: ['GG' 'AG' 'AA']
rs1800566: ['AG' nan 'AA' 'GG']
rs1800587: ['AG' 'GG' 'AA']
rs1800629: ['GG' 'AG' 'AA']
rs1800795: ['GG' 'CC' 'CG']
rs1801131: ['GT' 'GG' 'TT' 'Unknown']
rs1801133: ['GG' 'AG' 'AA' 'Unknown']
rs1801260: ['AA' 'AG' 'GG']
rs1801282: ['CG' 'CC' 'GG']
rs1801394: ['AA' nan 'GG' 'AG']
rs1805087: ['AG' nan 'AA' 'GG']
rs1815739: ['CT' nan 'TT' 'CC']
rs1885988: ['TT' 'CT' 'Unknown' 'CC']
rs2010963: ['GG' nan 'CG' 'CC']
rs2069845: ['AA' nan 'GG' 'AG']
rs2167270: ['AG' nan 'GG' 'AA' 'Unknown']
rs2228145: ['AC' 'AA' 'CC']
rs2228570: ['AA' nan 'GG' 'AG']
rs225014: ['TT' nan 'CT' 'CC']
rs234706: ['AG' nan 'GG' 'AA']
rs2815752: ['AA' nan 'GG' 'AG']
rs307355: ['CC' nan 'CT' 'TT']
rs3101336: ['CC' nan 'TT' 'CT']
rs328: ['CG' 'CC' 'GG']
rs35744813: ['CC' 'CT' 'TT' 'Unknown']
rs35874116: ['TT' nan 'CT' 'CC']
rs361525: ['GG' nan 'AG' 'AA']
rs368794: ['AA' nan 'TT' 'AT']
rs3751812: ['GT' nan 'GG' 'TT']
rs41380347: ['AA' 'AC']
rs41525747: ['GG' 'Unknown']
rs4253778: ['GG' nan 'CG' 'CC']
rs429358: ['CC' 'TT' 'CT' 'Unknown']
rs4341: ['GG' nan 'CG' 'CC']
rs4588: ['GG' 'GT' 'TT' 'Unknown']
rs4646903: ['AA' 'AG' 'Unknown' 'GG']
rs4680: ['AG' nan 'GG' 'AA' 'Unknown']
rs4771122: ['AA' nan 'AG' 'GG']
rs4880: ['AA' 'GG' 'AG']
rs4988235: ['GG' 'AA' 'AG']
rs4994: ['AA' 'AG' 'GG' 'Unknown']
rs5082: ['AA' 'AG' 'GG']
rs5128: ['CC' 'CG' 'GG']
rs5400: ['GG' 'AG' 'AA' 'Unknown']
rs5751876: ['CT' 'Unknown' 'TT' 'CC']
rs6025: ['CC' nan 'CT']
rs6265: ['CC' 'CT' 'TT']
rs6548238: ['CC' nan 'CT' 'TT']
rs662799: ['AG' 'AA' 'GG']
rs679620: ['CT' 'TT' 'CC']
rs699: ['GG' 'AG' 'AA']
rs708272: ['AG' 'GG' 'AA']
rs7132908: ['AA' nan 'AG' 'GG']
rs713598: ['CG' 'CC' 'GG' 'Unknown']
rs7181866: ['AA' nan 'AG' 'GG']
rs731236: ['AG' nan 'AA' 'GG']
rs7412: ['CC' 'CT' 'TT' 'Unknown']
rs743572: ['AG' nan 'GG' 'AA']
rs74837985: ['Present' nan 'Absent' 'Unknown']
rs7498665: ['AG' nan 'AA' 'GG']
rs762551: ['AC' 'AA' 'CC']
rs7647305: ['CC' nan 'CT' 'TT']
rs7832552: ['CT' nan 'CC' 'TT']
rs7903146: ['CC' 'CT' 'TT']
rs8192678: ['CT' nan 'TT' 'CC']
rs894160: ['CC' 'CT' 'TT']
rs925946: ['GG' nan 'GT' 'TT']
rs9282861: ['TT' nan 'CC' 'CT' 'Unknown']
rs9939609: ['AT' 'TT' 'AA']

In [90]:
rs_list=[]
for column in df.columns.tolist():
    if 'rs' in column:
        rs_list.append(column)
print(f'length: {len(rs_list)}')
rs_list

length: 103

['rs10246939',
 'rs1042713',
 'rs1042714',
 'rs1048943',
 'rs1050450',
 'rs1052700',
 'rs1056836',
 'rs10838738',
 'rs10913469',
 'rs10938397',
 'rs1121980',
 'rs1130990',
 'rs1137101',
 'rs113851554',
 'rs1175544',
 'rs1205',
 'rs12255372',
 'rs12401738',
 'rs12722',
 'rs143383',
 'rs145946881',
 'rs1544410',
 'rs1554606',
 'rs1695',
 'rs1726866',
 'rs174537',
 'rs17782313',
 'rs1799722',
 'rs1799883',
 'rs1799895',
 'rs1799945',
 'rs1799983',
 'rs1800012',
 'rs1800497',
 'rs1800562',
 'rs1800566',
 'rs1800587',
 'rs1800629',
 'rs1800795',
 'rs1801131',
 'rs1801133',
 'rs1801260',
 'rs1801282',
 'rs1801394',
 'rs1805087',
 'rs1815739',
 'rs1885988',
 'rs2010963',
 'rs2069845',
 'rs2167270',
 'rs2228145',
 'rs2228570',
 'rs225014',
 'rs234706',
 'rs2815752',
 'rs307355',
 'rs3101336',
 'rs328',
 'rs35744813',
 'rs35874116',
 'rs361525',
 'rs368794',
 'rs3751812',
 'rs41380347',
 'rs41525747',
 'rs4253778',
 'rs429358',
 'rs4341',
 'rs4588',
 'rs4646903',
 'rs4680',
 'rs4771122',
 'rs4880',
 'rs4988235',
 'rs4994',
 'rs5082',
 'rs5128',
 'rs5400',
 'rs5751876',
 'rs6025',
 'rs6265',
 'rs6548238',
 'rs662799',
 'rs679620',
 'rs699',
 'rs708272',
 'rs7132908',
 'rs713598',
 'rs7181866',
 'rs731236',
 'rs7412',
 'rs743572',
 'rs74837985',
 'rs7498665',
 'rs762551',
 'rs7647305',
 'rs7832552',
 'rs7903146',
 'rs8192678',
 'rs894160',
 'rs925946',
 'rs9282861',
 'rs9939609']

In [91]:
lisst_unk = []

for column in df.columns.tolist():
    x= f'{column}: {df[column].unique()}'
    if 'Unknown' in x:
        lisst_unk.append(column)
        
lisst_unk[:10]

['rs1042714',
 'rs1048943',
 'rs1050450',
 'rs1052700',
 'rs10913469',
 'rs1130990',
 'rs113851554',
 'rs1175544',
 'rs12401738',
 'rs12722']

In [92]:
for column in lisst_unk:
    x= f'{column}: {df[column].unique()}'
    if 'Unknown' in x:
        df[column] = df[column].replace("Unknown", np.NaN)
for column in df.columns.tolist():
    print(f'{column}: {df[column].unique()}')

public_client_id: ['01000261' '01001298' '01001467' ... 'ZU612255' 'ZU621944' 'ZU687756']
genome_id: ['A477AV494-007' 'DS-309044' 'DS-303402' ... 'DS-295687' 'DS-298925'
 'DS-302373']
genome_vendor: ['NEXTCODE' 'WUXI_SNP' 'TWOTHREEANDME']
genotyping_technology: ['WGS' 'MEG' 'GSAv2MD' '23andMe']
gstm1_gene: ['Present' nan 'Absent']
gstm1_gene_nrisk: [ 1. nan  0.]
gstt1_gene: ['Present' nan 'Absent']
gstt1_gene_nrisk: [ 1. nan  0.]
rs10246939: ['CT' 'TT' 'CC']
rs1042713: ['AA' 'GG' 'AG']
rs1042714: ['CC' 'GG' 'CG' nan]
rs1048943: ['TT' 'CT' nan 'CC']
rs1050450: ['AG' nan 'GG' 'AA']
rs1052700: ['AT' 'AA' 'TT' nan]
rs1056836: ['CG' nan 'GG' 'CC']
rs10838738: ['AG' nan 'GG' 'AA']
rs10913469: ['CT' 'TT' 'CC' nan]
rs10938397: ['AA' nan 'GG' 'AG']
rs1121980: ['AG' 'AA' 'GG']
rs1130990: ['Present' nan 'Absent']
rs1137101: ['AA' nan 'GG' 'AG']
rs113851554: ['GG' 'GT' nan 'TT']
rs1175544: ['CC' nan 'CT' 'TT']
rs1205: ['CT' 'CC' 'TT']
rs12255372: ['GG' 'GT' 'TT']
rs12401738: ['AG' nan 'GG' 'AA']
rs12722: ['CC' nan 'CT' 'TT']
rs143383: ['AA' 'GG' 'AG']
rs145946881: ['CC' nan]
rs1544410: ['CT' nan 'CC' 'TT']
rs1554606: ['GG' nan 'TT' 'GT']
rs1695: ['AG' 'AA' 'GG']
rs1726866: ['AG' 'AA' 'GG']
rs174537: ['GG' 'GT' 'TT']
rs17782313: ['TT' nan 'CT' 'CC']
rs1799722: ['CC' nan 'CT' 'TT']
rs1799883: ['CT' nan 'CC' 'TT']
rs1799895: ['CG' 'CC' nan]
rs1799945: ['CC' 'CG' 'GG']
rs1799983: ['GG' 'TT' 'GT' nan]
rs1800012: ['CC' 'AC' 'AA']
rs1800497: ['GG' nan 'AG' 'AA']
rs1800562: ['GG' 'AG' 'AA']
rs1800566: ['AG' nan 'AA' 'GG']
rs1800587: ['AG' 'GG' 'AA']
rs1800629: ['GG' 'AG' 'AA']
rs1800795: ['GG' 'CC' 'CG']
rs1801131: ['GT' 'GG' 'TT' nan]
rs1801133: ['GG' 'AG' 'AA' nan]
rs1801260: ['AA' 'AG' 'GG']
rs1801282: ['CG' 'CC' 'GG']
rs1801394: ['AA' nan 'GG' 'AG']
rs1805087: ['AG' nan 'AA' 'GG']
rs1815739: ['CT' nan 'TT' 'CC']
rs1885988: ['TT' 'CT' nan 'CC']
rs2010963: ['GG' nan 'CG' 'CC']
rs2069845: ['AA' nan 'GG' 'AG']
rs2167270: ['AG' nan 'GG' 'AA']
rs2228145: ['AC' 'AA' 'CC']
rs2228570: ['AA' nan 'GG' 'AG']
rs225014: ['TT' nan 'CT' 'CC']
rs234706: ['AG' nan 'GG' 'AA']
rs2815752: ['AA' nan 'GG' 'AG']
rs307355: ['CC' nan 'CT' 'TT']
rs3101336: ['CC' nan 'TT' 'CT']
rs328: ['CG' 'CC' 'GG']
rs35744813: ['CC' 'CT' 'TT' nan]
rs35874116: ['TT' nan 'CT' 'CC']
rs361525: ['GG' nan 'AG' 'AA']
rs368794: ['AA' nan 'TT' 'AT']
rs3751812: ['GT' nan 'GG' 'TT']
rs41380347: ['AA' 'AC']
rs41525747: ['GG' nan]
rs4253778: ['GG' nan 'CG' 'CC']
rs429358: ['CC' 'TT' 'CT' nan]
rs4341: ['GG' nan 'CG' 'CC']
rs4588: ['GG' 'GT' 'TT' nan]
rs4646903: ['AA' 'AG' nan 'GG']
rs4680: ['AG' nan 'GG' 'AA']
rs4771122: ['AA' nan 'AG' 'GG']
rs4880: ['AA' 'GG' 'AG']
rs4988235: ['GG' 'AA' 'AG']
rs4994: ['AA' 'AG' 'GG' nan]
rs5082: ['AA' 'AG' 'GG']
rs5128: ['CC' 'CG' 'GG']
rs5400: ['GG' 'AG' 'AA' nan]
rs5751876: ['CT' nan 'TT' 'CC']
rs6025: ['CC' nan 'CT']
rs6265: ['CC' 'CT' 'TT']
rs6548238: ['CC' nan 'CT' 'TT']
rs662799: ['AG' 'AA' 'GG']
rs679620: ['CT' 'TT' 'CC']
rs699: ['GG' 'AG' 'AA']
rs708272: ['AG' 'GG' 'AA']
rs7132908: ['AA' nan 'AG' 'GG']
rs713598: ['CG' 'CC' 'GG' nan]
rs7181866: ['AA' nan 'AG' 'GG']
rs731236: ['AG' nan 'AA' 'GG']
rs7412: ['CC' 'CT' 'TT' nan]
rs743572: ['AG' nan 'GG' 'AA']
rs74837985: ['Present' nan 'Absent']
rs7498665: ['AG' nan 'AA' 'GG']
rs762551: ['AC' 'AA' 'CC']
rs7647305: ['CC' nan 'CT' 'TT']
rs7832552: ['CT' nan 'CC' 'TT']
rs7903146: ['CC' 'CT' 'TT']
rs8192678: ['CT' nan 'TT' 'CC']
rs894160: ['CC' 'CT' 'TT']
rs925946: ['GG' nan 'GT' 'TT']
rs9282861: ['TT' nan 'CC' 'CT']
rs9939609: ['AT' 'TT' 'AA']

In [93]:
#df.replace('Unknown', np.NaN, inplace=True) do that next time to save time

In [94]:
rs_list=[]
for column in df.columns.tolist():
    if 'rs' in column:
        rs_list.append(column)
print(f'length: {len(rs_list)}')
rs_list[:10]

length: 103

['rs10246939',
 'rs1042713',
 'rs1042714',
 'rs1048943',
 'rs1050450',
 'rs1052700',
 'rs1056836',
 'rs10838738',
 'rs10913469',
 'rs10938397']

In [95]:
#print(df.iloc[0,8])
#str(df.iloc[0, 8])[0]
#'0    CT\nName: rs10246939, dtype: object'

In [96]:
i=8
for column in rs_list:
    df.insert((i+1), f'{column}_coded', str(df.iloc[0, i])[0])
    i+=2

In [97]:
i=8
for column in rs_list:
    df.insert((i+1), f'{column}_nrisk', np.NaN)
    i+=3 
    
#maybe another day: (len(df[column])-len(df[column].replace(df[f'{column}_coded'], "")))

In [98]:
for i in range(8,315,3):
    for x in range(len(df)):
        if isinstance(df.iloc[x, i], str):
            df.iloc[x, i+1] =  df.iloc[x, i].count(df.iloc[x, i+2])

In [99]:
nrisk_list=[]
for column in df.columns.tolist():
    if '_nrisk' in column:
        nrisk_list.append(column)
print(nrisk_list)
print('\n',len(nrisk_list))
df.shape

['gstm1_gene_nrisk', 'gstt1_gene_nrisk', 'rs10246939_nrisk', 'rs1042713_nrisk', 'rs1042714_nrisk', 'rs1048943_nrisk', 'rs1050450_nrisk', 'rs1052700_nrisk', 'rs1056836_nrisk', 'rs10838738_nrisk', 'rs10913469_nrisk', 'rs10938397_nrisk', 'rs1121980_nrisk', 'rs1130990_nrisk', 'rs1137101_nrisk', 'rs113851554_nrisk', 'rs1175544_nrisk', 'rs1205_nrisk', 'rs12255372_nrisk', 'rs12401738_nrisk', 'rs12722_nrisk', 'rs143383_nrisk', 'rs145946881_nrisk', 'rs1544410_nrisk', 'rs1554606_nrisk', 'rs1695_nrisk', 'rs1726866_nrisk', 'rs174537_nrisk', 'rs17782313_nrisk', 'rs1799722_nrisk', 'rs1799883_nrisk', 'rs1799895_nrisk', 'rs1799945_nrisk', 'rs1799983_nrisk', 'rs1800012_nrisk', 'rs1800497_nrisk', 'rs1800562_nrisk', 'rs1800566_nrisk', 'rs1800587_nrisk', 'rs1800629_nrisk', 'rs1800795_nrisk', 'rs1801131_nrisk', 'rs1801133_nrisk', 'rs1801260_nrisk', 'rs1801282_nrisk', 'rs1801394_nrisk', 'rs1805087_nrisk', 'rs1815739_nrisk', 'rs1885988_nrisk', 'rs2010963_nrisk', 'rs2069845_nrisk', 'rs2167270_nrisk', 'rs2228145_nrisk', 'rs2228570_nrisk', 'rs225014_nrisk', 'rs234706_nrisk', 'rs2815752_nrisk', 'rs307355_nrisk', 'rs3101336_nrisk', 'rs328_nrisk', 'rs35744813_nrisk', 'rs35874116_nrisk', 'rs361525_nrisk', 'rs368794_nrisk', 'rs3751812_nrisk', 'rs41380347_nrisk', 'rs41525747_nrisk', 'rs4253778_nrisk', 'rs429358_nrisk', 'rs4341_nrisk', 'rs4588_nrisk', 'rs4646903_nrisk', 'rs4680_nrisk', 'rs4771122_nrisk', 'rs4880_nrisk', 'rs4988235_nrisk', 'rs4994_nrisk', 'rs5082_nrisk', 'rs5128_nrisk', 'rs5400_nrisk', 'rs5751876_nrisk', 'rs6025_nrisk', 'rs6265_nrisk', 'rs6548238_nrisk', 'rs662799_nrisk', 'rs679620_nrisk', 'rs699_nrisk', 'rs708272_nrisk', 'rs7132908_nrisk', 'rs713598_nrisk', 'rs7181866_nrisk', 'rs731236_nrisk', 'rs7412_nrisk', 'rs743572_nrisk', 'rs74837985_nrisk', 'rs7498665_nrisk', 'rs762551_nrisk', 'rs7647305_nrisk', 'rs7832552_nrisk', 'rs7903146_nrisk', 'rs8192678_nrisk', 'rs894160_nrisk', 'rs925946_nrisk', 'rs9282861_nrisk', 'rs9939609_nrisk']

 105

(3610, 317)

In [100]:
for column in df.columns.tolist():
    print(f'{column}: {df[column].unique()}')

public_client_id: ['01000261' '01001298' '01001467' ... 'ZU612255' 'ZU621944' 'ZU687756']
genome_id: ['A477AV494-007' 'DS-309044' 'DS-303402' ... 'DS-295687' 'DS-298925'
 'DS-302373']
genome_vendor: ['NEXTCODE' 'WUXI_SNP' 'TWOTHREEANDME']
genotyping_technology: ['WGS' 'MEG' 'GSAv2MD' '23andMe']
gstm1_gene: ['Present' nan 'Absent']
gstm1_gene_nrisk: [ 1. nan  0.]
gstt1_gene: ['Present' nan 'Absent']
gstt1_gene_nrisk: [ 1. nan  0.]
rs10246939: ['CT' 'TT' 'CC']
rs10246939_nrisk: [1. 0. 2.]
rs10246939_coded: ['C']
rs1042713: ['AA' 'GG' 'AG']
rs1042713_nrisk: [2. 0. 1.]
rs1042713_coded: ['A']
rs1042714: ['CC' 'GG' 'CG' nan]
rs1042714_nrisk: [ 2.  0.  1. nan]
rs1042714_coded: ['C']
rs1048943: ['TT' 'CT' nan 'CC']
rs1048943_nrisk: [ 2.  1. nan  0.]
rs1048943_coded: ['T']
rs1050450: ['AG' nan 'GG' 'AA']
rs1050450_nrisk: [ 1. nan  0.  2.]
rs1050450_coded: ['A']
rs1052700: ['AT' 'AA' 'TT' nan]
rs1052700_nrisk: [ 1.  2.  0. nan]
rs1052700_coded: ['A']
rs1056836: ['CG' nan 'GG' 'CC']
rs1056836_nrisk: [ 1. nan  0.  2.]
rs1056836_coded: ['C']
rs10838738: ['AG' nan 'GG' 'AA']
rs10838738_nrisk: [ 1. nan  0.  2.]
rs10838738_coded: ['A']
rs10913469: ['CT' 'TT' 'CC' nan]
rs10913469_nrisk: [ 1.  0.  2. nan]
rs10913469_coded: ['C']
rs10938397: ['AA' nan 'GG' 'AG']
rs10938397_nrisk: [ 2. nan  0.  1.]
rs10938397_coded: ['A']
rs1121980: ['AG' 'AA' 'GG']
rs1121980_nrisk: [1. 2. 0.]
rs1121980_coded: ['A']
rs1130990: ['Present' nan 'Absent']
rs1130990_nrisk: [ 1. nan  0.]
rs1130990_coded: ['P']
rs1137101: ['AA' nan 'GG' 'AG']
rs1137101_nrisk: [ 2. nan  0.  1.]
rs1137101_coded: ['A']
rs113851554: ['GG' 'GT' nan 'TT']
rs113851554_nrisk: [ 2.  1. nan  0.]
rs113851554_coded: ['G']
rs1175544: ['CC' nan 'CT' 'TT']
rs1175544_nrisk: [ 2. nan  1.  0.]
rs1175544_coded: ['C']
rs1205: ['CT' 'CC' 'TT']
rs1205_nrisk: [1. 2. 0.]
rs1205_coded: ['C']
rs12255372: ['GG' 'GT' 'TT']
rs12255372_nrisk: [2. 1. 0.]
rs12255372_coded: ['G']
rs12401738: ['AG' nan 'GG' 'AA']
rs12401738_nrisk: [ 1. nan  0.  2.]
rs12401738_coded: ['A']
rs12722: ['CC' nan 'CT' 'TT']
rs12722_nrisk: [ 2. nan  1.  0.]
rs12722_coded: ['C']
rs143383: ['AA' 'GG' 'AG']
rs143383_nrisk: [2. 0. 1.]
rs143383_coded: ['A']
rs145946881: ['CC' nan]
rs145946881_nrisk: [ 2. nan]
rs145946881_coded: ['C']
rs1544410: ['CT' nan 'CC' 'TT']
rs1544410_nrisk: [ 1. nan  2.  0.]
rs1544410_coded: ['C']
rs1554606: ['GG' nan 'TT' 'GT']
rs1554606_nrisk: [ 2. nan  0.  1.]
rs1554606_coded: ['G']
rs1695: ['AG' 'AA' 'GG']
rs1695_nrisk: [1. 2. 0.]
rs1695_coded: ['A']
rs1726866: ['AG' 'AA' 'GG']
rs1726866_nrisk: [1. 2. 0.]
rs1726866_coded: ['A']
rs174537: ['GG' 'GT' 'TT']
rs174537_nrisk: [2. 1. 0.]
rs174537_coded: ['G']
rs17782313: ['TT' nan 'CT' 'CC']
rs17782313_nrisk: [ 2. nan  1.  0.]
rs17782313_coded: ['T']
rs1799722: ['CC' nan 'CT' 'TT']
rs1799722_nrisk: [ 2. nan  1.  0.]
rs1799722_coded: ['C']
rs1799883: ['CT' nan 'CC' 'TT']
rs1799883_nrisk: [ 1. nan  2.  0.]
rs1799883_coded: ['C']
rs1799895: ['CG' 'CC' nan]
rs1799895_nrisk: [ 1.  2. nan]
rs1799895_coded: ['C']
rs1799945: ['CC' 'CG' 'GG']
rs1799945_nrisk: [2. 1. 0.]
rs1799945_coded: ['C']
rs1799983: ['GG' 'TT' 'GT' nan]
rs1799983_nrisk: [ 2.  0.  1. nan]
rs1799983_coded: ['G']
rs1800012: ['CC' 'AC' 'AA']
rs1800012_nrisk: [2. 1. 0.]
rs1800012_coded: ['C']
rs1800497: ['GG' nan 'AG' 'AA']
rs1800497_nrisk: [ 2. nan  1.  0.]
rs1800497_coded: ['G']
rs1800562: ['GG' 'AG' 'AA']
rs1800562_nrisk: [2. 1. 0.]
rs1800562_coded: ['G']
rs1800566: ['AG' nan 'AA' 'GG']
rs1800566_nrisk: [ 1. nan  2.  0.]
rs1800566_coded: ['A']
rs1800587: ['AG' 'GG' 'AA']
rs1800587_nrisk: [1. 0. 2.]
rs1800587_coded: ['A']
rs1800629: ['GG' 'AG' 'AA']
rs1800629_nrisk: [2. 1. 0.]
rs1800629_coded: ['G']
rs1800795: ['GG' 'CC' 'CG']
rs1800795_nrisk: [2. 0. 1.]
rs1800795_coded: ['G']
rs1801131: ['GT' 'GG' 'TT' nan]
rs1801131_nrisk: [ 1.  2.  0. nan]
rs1801131_coded: ['G']
rs1801133: ['GG' 'AG' 'AA' nan]
rs1801133_nrisk: [ 2.  1.  0. nan]
rs1801133_coded: ['G']
rs1801260: ['AA' 'AG' 'GG']
rs1801260_nrisk: [2. 1. 0.]
rs1801260_coded: ['A']
rs1801282: ['CG' 'CC' 'GG']
rs1801282_nrisk: [1. 2. 0.]
rs1801282_coded: ['C']
rs1801394: ['AA' nan 'GG' 'AG']
rs1801394_nrisk: [ 2. nan  0.  1.]
rs1801394_coded: ['A']
rs1805087: ['AG' nan 'AA' 'GG']
rs1805087_nrisk: [ 1. nan  2.  0.]
rs1805087_coded: ['A']
rs1815739: ['CT' nan 'TT' 'CC']
rs1815739_nrisk: [ 1. nan  0.  2.]
rs1815739_coded: ['C']
rs1885988: ['TT' 'CT' nan 'CC']
rs1885988_nrisk: [ 2.  1. nan  0.]
rs1885988_coded: ['T']
rs2010963: ['GG' nan 'CG' 'CC']
rs2010963_nrisk: [ 2. nan  1.  0.]
rs2010963_coded: ['G']
rs2069845: ['AA' nan 'GG' 'AG']
rs2069845_nrisk: [ 2. nan  0.  1.]
rs2069845_coded: ['A']
rs2167270: ['AG' nan 'GG' 'AA']
rs2167270_nrisk: [ 1. nan  0.  2.]
rs2167270_coded: ['A']
rs2228145: ['AC' 'AA' 'CC']
rs2228145_nrisk: [1. 2. 0.]
rs2228145_coded: ['A']
rs2228570: ['AA' nan 'GG' 'AG']
rs2228570_nrisk: [ 2. nan  0.  1.]
rs2228570_coded: ['A']
rs225014: ['TT' nan 'CT' 'CC']
rs225014_nrisk: [ 2. nan  1.  0.]
rs225014_coded: ['T']
rs234706: ['AG' nan 'GG' 'AA']
rs234706_nrisk: [ 1. nan  0.  2.]
rs234706_coded: ['A']
rs2815752: ['AA' nan 'GG' 'AG']
rs2815752_nrisk: [ 2. nan  0.  1.]
rs2815752_coded: ['A']
rs307355: ['CC' nan 'CT' 'TT']
rs307355_nrisk: [ 2. nan  1.  0.]
rs307355_coded: ['C']
rs3101336: ['CC' nan 'TT' 'CT']
rs3101336_nrisk: [ 2. nan  0.  1.]
rs3101336_coded: ['C']
rs328: ['CG' 'CC' 'GG']
rs328_nrisk: [1. 2. 0.]
rs328_coded: ['C']
rs35744813: ['CC' 'CT' 'TT' nan]
rs35744813_nrisk: [ 2.  1.  0. nan]
rs35744813_coded: ['C']
rs35874116: ['TT' nan 'CT' 'CC']
rs35874116_nrisk: [ 2. nan  1.  0.]
rs35874116_coded: ['T']
rs361525: ['GG' nan 'AG' 'AA']
rs361525_nrisk: [ 2. nan  1.  0.]
rs361525_coded: ['G']
rs368794: ['AA' nan 'TT' 'AT']
rs368794_nrisk: [ 2. nan  0.  1.]
rs368794_coded: ['A']
rs3751812: ['GT' nan 'GG' 'TT']
rs3751812_nrisk: [ 1. nan  2.  0.]
rs3751812_coded: ['G']
rs41380347: ['AA' 'AC']
rs41380347_nrisk: [2. 1.]
rs41380347_coded: ['A']
rs41525747: ['GG' nan]
rs41525747_nrisk: [ 2. nan]
rs41525747_coded: ['G']
rs4253778: ['GG' nan 'CG' 'CC']
rs4253778_nrisk: [ 2. nan  1.  0.]
rs4253778_coded: ['G']
rs429358: ['CC' 'TT' 'CT' nan]
rs429358_nrisk: [ 2.  0.  1. nan]
rs429358_coded: ['C']
rs4341: ['GG' nan 'CG' 'CC']
rs4341_nrisk: [ 2. nan  1.  0.]
rs4341_coded: ['G']
rs4588: ['GG' 'GT' 'TT' nan]
rs4588_nrisk: [ 2.  1.  0. nan]
rs4588_coded: ['G']
rs4646903: ['AA' 'AG' nan 'GG']
rs4646903_nrisk: [ 2.  1. nan  0.]
rs4646903_coded: ['A']
rs4680: ['AG' nan 'GG' 'AA']
rs4680_nrisk: [ 1. nan  0.  2.]
rs4680_coded: ['A']
rs4771122: ['AA' nan 'AG' 'GG']
rs4771122_nrisk: [ 2. nan  1.  0.]
rs4771122_coded: ['A']
rs4880: ['AA' 'GG' 'AG']
rs4880_nrisk: [2. 0. 1.]
rs4880_coded: ['A']
rs4988235: ['GG' 'AA' 'AG']
rs4988235_nrisk: [2. 0. 1.]
rs4988235_coded: ['G']
rs4994: ['AA' 'AG' 'GG' nan]
rs4994_nrisk: [ 2.  1.  0. nan]
rs4994_coded: ['A']
rs5082: ['AA' 'AG' 'GG']
rs5082_nrisk: [2. 1. 0.]
rs5082_coded: ['A']
rs5128: ['CC' 'CG' 'GG']
rs5128_nrisk: [2. 1. 0.]
rs5128_coded: ['C']
rs5400: ['GG' 'AG' 'AA' nan]
rs5400_nrisk: [ 2.  1.  0. nan]
rs5400_coded: ['G']
rs5751876: ['CT' nan 'TT' 'CC']
rs5751876_nrisk: [ 1. nan  0.  2.]
rs5751876_coded: ['C']
rs6025: ['CC' nan 'CT']
rs6025_nrisk: [ 2. nan  1.]
rs6025_coded: ['C']
rs6265: ['CC' 'CT' 'TT']
rs6265_nrisk: [2. 1. 0.]
rs6265_coded: ['C']
rs6548238: ['CC' nan 'CT' 'TT']
rs6548238_nrisk: [ 2. nan  1.  0.]
rs6548238_coded: ['C']
rs662799: ['AG' 'AA' 'GG']
rs662799_nrisk: [1. 2. 0.]
rs662799_coded: ['A']
rs679620: ['CT' 'TT' 'CC']
rs679620_nrisk: [1. 0. 2.]
rs679620_coded: ['C']
rs699: ['GG' 'AG' 'AA']
rs699_nrisk: [2. 1. 0.]
rs699_coded: ['G']
rs708272: ['AG' 'GG' 'AA']
rs708272_nrisk: [1. 0. 2.]
rs708272_coded: ['A']
rs7132908: ['AA' nan 'AG' 'GG']
rs7132908_nrisk: [ 2. nan  1.  0.]
rs7132908_coded: ['A']
rs713598: ['CG' 'CC' 'GG' nan]
rs713598_nrisk: [ 1.  2.  0. nan]
rs713598_coded: ['C']
rs7181866: ['AA' nan 'AG' 'GG']
rs7181866_nrisk: [ 2. nan  1.  0.]
rs7181866_coded: ['A']
rs731236: ['AG' nan 'AA' 'GG']
rs731236_nrisk: [ 1. nan  2.  0.]
rs731236_coded: ['A']
rs7412: ['CC' 'CT' 'TT' nan]
rs7412_nrisk: [ 2.  1.  0. nan]
rs7412_coded: ['C']
rs743572: ['AG' nan 'GG' 'AA']
rs743572_nrisk: [ 1. nan  0.  2.]
rs743572_coded: ['A']
rs74837985: ['Present' nan 'Absent']
rs74837985_nrisk: [ 1. nan  0.]
rs74837985_coded: ['P']
rs7498665: ['AG' nan 'AA' 'GG']
rs7498665_nrisk: [ 1. nan  2.  0.]
rs7498665_coded: ['A']
rs762551: ['AC' 'AA' 'CC']
rs762551_nrisk: [1. 2. 0.]
rs762551_coded: ['A']
rs7647305: ['CC' nan 'CT' 'TT']
rs7647305_nrisk: [ 2. nan  1.  0.]
rs7647305_coded: ['C']
rs7832552: ['CT' nan 'CC' 'TT']
rs7832552_nrisk: [ 1. nan  2.  0.]
rs7832552_coded: ['C']
rs7903146: ['CC' 'CT' 'TT']
rs7903146_nrisk: [2. 1. 0.]
rs7903146_coded: ['C']
rs8192678: ['CT' nan 'TT' 'CC']
rs8192678_nrisk: [ 1. nan  0.  2.]
rs8192678_coded: ['C']
rs894160: ['CC' 'CT' 'TT']
rs894160_nrisk: [2. 1. 0.]
rs894160_coded: ['C']
rs925946: ['GG' nan 'GT' 'TT']
rs925946_nrisk: [ 2. nan  1.  0.]
rs925946_coded: ['G']
rs9282861: ['TT' nan 'CC' 'CT']
rs9282861_nrisk: [ 2. nan  0.  1.]
rs9282861_coded: ['T']
rs9939609: ['AT' 'TT' 'AA']
rs9939609_nrisk: [1. 0. 2.]
rs9939609_coded: ['A']

In [101]:
presabs=[]
for column in df.columns.tolist():
    x= f'{column}: {df[column].unique()}'
    if 'Present' in x:
        presabs.append(column)
for x in presabs:
    print(f'{x}: {df.columns.get_loc(x)}')

gstm1_gene: 4
gstt1_gene: 6
rs1130990: 41
rs74837985: 284

In [102]:
def func(row):
    if row['rs1130990']=='Present':
        return 1
    elif row['rs1130990']=='Absent':
        return 0
    
df['rs1130990_nrisk']=df.apply(func, axis=1)

def func(row):
    if row['rs74837985']=='Present':
        return 1
    elif row['rs74837985']=='Absent':
        return 0
    
df['rs74837985_nrisk']=df.apply(func, axis=1)

df[['rs1130990', 'rs1130990_nrisk', 'rs74837985', 'rs74837985_nrisk']].head()

  rs1130990  rs1130990_nrisk rs74837985  rs74837985_nrisk
0   Present              1.0    Present               1.0
1       NaN              NaN        NaN               NaN
2       NaN              NaN        NaN               NaN
3       NaN              NaN        NaN               NaN
4    Absent              0.0     Absent               0.0

In [103]:
for column in df.columns.tolist():
    print(f'{column}: {df[column].unique()}')

public_client_id: ['01000261' '01001298' '01001467' ... 'ZU612255' 'ZU621944' 'ZU687756']
genome_id: ['A477AV494-007' 'DS-309044' 'DS-303402' ... 'DS-295687' 'DS-298925'
 'DS-302373']
genome_vendor: ['NEXTCODE' 'WUXI_SNP' 'TWOTHREEANDME']
genotyping_technology: ['WGS' 'MEG' 'GSAv2MD' '23andMe']
gstm1_gene: ['Present' nan 'Absent']
gstm1_gene_nrisk: [ 1. nan  0.]
gstt1_gene: ['Present' nan 'Absent']
gstt1_gene_nrisk: [ 1. nan  0.]
rs10246939: ['CT' 'TT' 'CC']
rs10246939_nrisk: [1. 0. 2.]
rs10246939_coded: ['C']
rs1042713: ['AA' 'GG' 'AG']
rs1042713_nrisk: [2. 0. 1.]
rs1042713_coded: ['A']
rs1042714: ['CC' 'GG' 'CG' nan]
rs1042714_nrisk: [ 2.  0.  1. nan]
rs1042714_coded: ['C']
rs1048943: ['TT' 'CT' nan 'CC']
rs1048943_nrisk: [ 2.  1. nan  0.]
rs1048943_coded: ['T']
rs1050450: ['AG' nan 'GG' 'AA']
rs1050450_nrisk: [ 1. nan  0.  2.]
rs1050450_coded: ['A']
rs1052700: ['AT' 'AA' 'TT' nan]
rs1052700_nrisk: [ 1.  2.  0. nan]
rs1052700_coded: ['A']
rs1056836: ['CG' nan 'GG' 'CC']
rs1056836_nrisk: [ 1. nan  0.  2.]
rs1056836_coded: ['C']
rs10838738: ['AG' nan 'GG' 'AA']
rs10838738_nrisk: [ 1. nan  0.  2.]
rs10838738_coded: ['A']
rs10913469: ['CT' 'TT' 'CC' nan]
rs10913469_nrisk: [ 1.  0.  2. nan]
rs10913469_coded: ['C']
rs10938397: ['AA' nan 'GG' 'AG']
rs10938397_nrisk: [ 2. nan  0.  1.]
rs10938397_coded: ['A']
rs1121980: ['AG' 'AA' 'GG']
rs1121980_nrisk: [1. 2. 0.]
rs1121980_coded: ['A']
rs1130990: ['Present' nan 'Absent']
rs1130990_nrisk: [ 1. nan  0.]
rs1130990_coded: ['P']
rs1137101: ['AA' nan 'GG' 'AG']
rs1137101_nrisk: [ 2. nan  0.  1.]
rs1137101_coded: ['A']
rs113851554: ['GG' 'GT' nan 'TT']
rs113851554_nrisk: [ 2.  1. nan  0.]
rs113851554_coded: ['G']
rs1175544: ['CC' nan 'CT' 'TT']
rs1175544_nrisk: [ 2. nan  1.  0.]
rs1175544_coded: ['C']
rs1205: ['CT' 'CC' 'TT']
rs1205_nrisk: [1. 2. 0.]
rs1205_coded: ['C']
rs12255372: ['GG' 'GT' 'TT']
rs12255372_nrisk: [2. 1. 0.]
rs12255372_coded: ['G']
rs12401738: ['AG' nan 'GG' 'AA']
rs12401738_nrisk: [ 1. nan  0.  2.]
rs12401738_coded: ['A']
rs12722: ['CC' nan 'CT' 'TT']
rs12722_nrisk: [ 2. nan  1.  0.]
rs12722_coded: ['C']
rs143383: ['AA' 'GG' 'AG']
rs143383_nrisk: [2. 0. 1.]
rs143383_coded: ['A']
rs145946881: ['CC' nan]
rs145946881_nrisk: [ 2. nan]
rs145946881_coded: ['C']
rs1544410: ['CT' nan 'CC' 'TT']
rs1544410_nrisk: [ 1. nan  2.  0.]
rs1544410_coded: ['C']
rs1554606: ['GG' nan 'TT' 'GT']
rs1554606_nrisk: [ 2. nan  0.  1.]
rs1554606_coded: ['G']
rs1695: ['AG' 'AA' 'GG']
rs1695_nrisk: [1. 2. 0.]
rs1695_coded: ['A']
rs1726866: ['AG' 'AA' 'GG']
rs1726866_nrisk: [1. 2. 0.]
rs1726866_coded: ['A']
rs174537: ['GG' 'GT' 'TT']
rs174537_nrisk: [2. 1. 0.]
rs174537_coded: ['G']
rs17782313: ['TT' nan 'CT' 'CC']
rs17782313_nrisk: [ 2. nan  1.  0.]
rs17782313_coded: ['T']
rs1799722: ['CC' nan 'CT' 'TT']
rs1799722_nrisk: [ 2. nan  1.  0.]
rs1799722_coded: ['C']
rs1799883: ['CT' nan 'CC' 'TT']
rs1799883_nrisk: [ 1. nan  2.  0.]
rs1799883_coded: ['C']
rs1799895: ['CG' 'CC' nan]
rs1799895_nrisk: [ 1.  2. nan]
rs1799895_coded: ['C']
rs1799945: ['CC' 'CG' 'GG']
rs1799945_nrisk: [2. 1. 0.]
rs1799945_coded: ['C']
rs1799983: ['GG' 'TT' 'GT' nan]
rs1799983_nrisk: [ 2.  0.  1. nan]
rs1799983_coded: ['G']
rs1800012: ['CC' 'AC' 'AA']
rs1800012_nrisk: [2. 1. 0.]
rs1800012_coded: ['C']
rs1800497: ['GG' nan 'AG' 'AA']
rs1800497_nrisk: [ 2. nan  1.  0.]
rs1800497_coded: ['G']
rs1800562: ['GG' 'AG' 'AA']
rs1800562_nrisk: [2. 1. 0.]
rs1800562_coded: ['G']
rs1800566: ['AG' nan 'AA' 'GG']
rs1800566_nrisk: [ 1. nan  2.  0.]
rs1800566_coded: ['A']
rs1800587: ['AG' 'GG' 'AA']
rs1800587_nrisk: [1. 0. 2.]
rs1800587_coded: ['A']
rs1800629: ['GG' 'AG' 'AA']
rs1800629_nrisk: [2. 1. 0.]
rs1800629_coded: ['G']
rs1800795: ['GG' 'CC' 'CG']
rs1800795_nrisk: [2. 0. 1.]
rs1800795_coded: ['G']
rs1801131: ['GT' 'GG' 'TT' nan]
rs1801131_nrisk: [ 1.  2.  0. nan]
rs1801131_coded: ['G']
rs1801133: ['GG' 'AG' 'AA' nan]
rs1801133_nrisk: [ 2.  1.  0. nan]
rs1801133_coded: ['G']
rs1801260: ['AA' 'AG' 'GG']
rs1801260_nrisk: [2. 1. 0.]
rs1801260_coded: ['A']
rs1801282: ['CG' 'CC' 'GG']
rs1801282_nrisk: [1. 2. 0.]
rs1801282_coded: ['C']
rs1801394: ['AA' nan 'GG' 'AG']
rs1801394_nrisk: [ 2. nan  0.  1.]
rs1801394_coded: ['A']
rs1805087: ['AG' nan 'AA' 'GG']
rs1805087_nrisk: [ 1. nan  2.  0.]
rs1805087_coded: ['A']
rs1815739: ['CT' nan 'TT' 'CC']
rs1815739_nrisk: [ 1. nan  0.  2.]
rs1815739_coded: ['C']
rs1885988: ['TT' 'CT' nan 'CC']
rs1885988_nrisk: [ 2.  1. nan  0.]
rs1885988_coded: ['T']
rs2010963: ['GG' nan 'CG' 'CC']
rs2010963_nrisk: [ 2. nan  1.  0.]
rs2010963_coded: ['G']
rs2069845: ['AA' nan 'GG' 'AG']
rs2069845_nrisk: [ 2. nan  0.  1.]
rs2069845_coded: ['A']
rs2167270: ['AG' nan 'GG' 'AA']
rs2167270_nrisk: [ 1. nan  0.  2.]
rs2167270_coded: ['A']
rs2228145: ['AC' 'AA' 'CC']
rs2228145_nrisk: [1. 2. 0.]
rs2228145_coded: ['A']
rs2228570: ['AA' nan 'GG' 'AG']
rs2228570_nrisk: [ 2. nan  0.  1.]
rs2228570_coded: ['A']
rs225014: ['TT' nan 'CT' 'CC']
rs225014_nrisk: [ 2. nan  1.  0.]
rs225014_coded: ['T']
rs234706: ['AG' nan 'GG' 'AA']
rs234706_nrisk: [ 1. nan  0.  2.]
rs234706_coded: ['A']
rs2815752: ['AA' nan 'GG' 'AG']
rs2815752_nrisk: [ 2. nan  0.  1.]
rs2815752_coded: ['A']
rs307355: ['CC' nan 'CT' 'TT']
rs307355_nrisk: [ 2. nan  1.  0.]
rs307355_coded: ['C']
rs3101336: ['CC' nan 'TT' 'CT']
rs3101336_nrisk: [ 2. nan  0.  1.]
rs3101336_coded: ['C']
rs328: ['CG' 'CC' 'GG']
rs328_nrisk: [1. 2. 0.]
rs328_coded: ['C']
rs35744813: ['CC' 'CT' 'TT' nan]
rs35744813_nrisk: [ 2.  1.  0. nan]
rs35744813_coded: ['C']
rs35874116: ['TT' nan 'CT' 'CC']
rs35874116_nrisk: [ 2. nan  1.  0.]
rs35874116_coded: ['T']
rs361525: ['GG' nan 'AG' 'AA']
rs361525_nrisk: [ 2. nan  1.  0.]
rs361525_coded: ['G']
rs368794: ['AA' nan 'TT' 'AT']
rs368794_nrisk: [ 2. nan  0.  1.]
rs368794_coded: ['A']
rs3751812: ['GT' nan 'GG' 'TT']
rs3751812_nrisk: [ 1. nan  2.  0.]
rs3751812_coded: ['G']
rs41380347: ['AA' 'AC']
rs41380347_nrisk: [2. 1.]
rs41380347_coded: ['A']
rs41525747: ['GG' nan]
rs41525747_nrisk: [ 2. nan]
rs41525747_coded: ['G']
rs4253778: ['GG' nan 'CG' 'CC']
rs4253778_nrisk: [ 2. nan  1.  0.]
rs4253778_coded: ['G']
rs429358: ['CC' 'TT' 'CT' nan]
rs429358_nrisk: [ 2.  0.  1. nan]
rs429358_coded: ['C']
rs4341: ['GG' nan 'CG' 'CC']
rs4341_nrisk: [ 2. nan  1.  0.]
rs4341_coded: ['G']
rs4588: ['GG' 'GT' 'TT' nan]
rs4588_nrisk: [ 2.  1.  0. nan]
rs4588_coded: ['G']
rs4646903: ['AA' 'AG' nan 'GG']
rs4646903_nrisk: [ 2.  1. nan  0.]
rs4646903_coded: ['A']
rs4680: ['AG' nan 'GG' 'AA']
rs4680_nrisk: [ 1. nan  0.  2.]
rs4680_coded: ['A']
rs4771122: ['AA' nan 'AG' 'GG']
rs4771122_nrisk: [ 2. nan  1.  0.]
rs4771122_coded: ['A']
rs4880: ['AA' 'GG' 'AG']
rs4880_nrisk: [2. 0. 1.]
rs4880_coded: ['A']
rs4988235: ['GG' 'AA' 'AG']
rs4988235_nrisk: [2. 0. 1.]
rs4988235_coded: ['G']
rs4994: ['AA' 'AG' 'GG' nan]
rs4994_nrisk: [ 2.  1.  0. nan]
rs4994_coded: ['A']
rs5082: ['AA' 'AG' 'GG']
rs5082_nrisk: [2. 1. 0.]
rs5082_coded: ['A']
rs5128: ['CC' 'CG' 'GG']
rs5128_nrisk: [2. 1. 0.]
rs5128_coded: ['C']
rs5400: ['GG' 'AG' 'AA' nan]
rs5400_nrisk: [ 2.  1.  0. nan]
rs5400_coded: ['G']
rs5751876: ['CT' nan 'TT' 'CC']
rs5751876_nrisk: [ 1. nan  0.  2.]
rs5751876_coded: ['C']
rs6025: ['CC' nan 'CT']
rs6025_nrisk: [ 2. nan  1.]
rs6025_coded: ['C']
rs6265: ['CC' 'CT' 'TT']
rs6265_nrisk: [2. 1. 0.]
rs6265_coded: ['C']
rs6548238: ['CC' nan 'CT' 'TT']
rs6548238_nrisk: [ 2. nan  1.  0.]
rs6548238_coded: ['C']
rs662799: ['AG' 'AA' 'GG']
rs662799_nrisk: [1. 2. 0.]
rs662799_coded: ['A']
rs679620: ['CT' 'TT' 'CC']
rs679620_nrisk: [1. 0. 2.]
rs679620_coded: ['C']
rs699: ['GG' 'AG' 'AA']
rs699_nrisk: [2. 1. 0.]
rs699_coded: ['G']
rs708272: ['AG' 'GG' 'AA']
rs708272_nrisk: [1. 0. 2.]
rs708272_coded: ['A']
rs7132908: ['AA' nan 'AG' 'GG']
rs7132908_nrisk: [ 2. nan  1.  0.]
rs7132908_coded: ['A']
rs713598: ['CG' 'CC' 'GG' nan]
rs713598_nrisk: [ 1.  2.  0. nan]
rs713598_coded: ['C']
rs7181866: ['AA' nan 'AG' 'GG']
rs7181866_nrisk: [ 2. nan  1.  0.]
rs7181866_coded: ['A']
rs731236: ['AG' nan 'AA' 'GG']
rs731236_nrisk: [ 1. nan  2.  0.]
rs731236_coded: ['A']
rs7412: ['CC' 'CT' 'TT' nan]
rs7412_nrisk: [ 2.  1.  0. nan]
rs7412_coded: ['C']
rs743572: ['AG' nan 'GG' 'AA']
rs743572_nrisk: [ 1. nan  0.  2.]
rs743572_coded: ['A']
rs74837985: ['Present' nan 'Absent']
rs74837985_nrisk: [ 1. nan  0.]
rs74837985_coded: ['P']
rs7498665: ['AG' nan 'AA' 'GG']
rs7498665_nrisk: [ 1. nan  2.  0.]
rs7498665_coded: ['A']
rs762551: ['AC' 'AA' 'CC']
rs762551_nrisk: [1. 2. 0.]
rs762551_coded: ['A']
rs7647305: ['CC' nan 'CT' 'TT']
rs7647305_nrisk: [ 2. nan  1.  0.]
rs7647305_coded: ['C']
rs7832552: ['CT' nan 'CC' 'TT']
rs7832552_nrisk: [ 1. nan  2.  0.]
rs7832552_coded: ['C']
rs7903146: ['CC' 'CT' 'TT']
rs7903146_nrisk: [2. 1. 0.]
rs7903146_coded: ['C']
rs8192678: ['CT' nan 'TT' 'CC']
rs8192678_nrisk: [ 1. nan  0.  2.]
rs8192678_coded: ['C']
rs894160: ['CC' 'CT' 'TT']
rs894160_nrisk: [2. 1. 0.]
rs894160_coded: ['C']
rs925946: ['GG' nan 'GT' 'TT']
rs925946_nrisk: [ 2. nan  1.  0.]
rs925946_coded: ['G']
rs9282861: ['TT' nan 'CC' 'CT']
rs9282861_nrisk: [ 2. nan  0.  1.]
rs9282861_coded: ['T']
rs9939609: ['AT' 'TT' 'AA']
rs9939609_nrisk: [1. 0. 2.]
rs9939609_coded: ['A']

In [104]:
df.head()

,public_client_id,genome_id,genome_vendor,genotyping_technology,gstm1_gene,gstm1_gene_nrisk,gstt1_gene,gstt1_gene_nrisk,rs10246939,rs10246939_nrisk,...,rs894160_coded,rs925946,rs925946_nrisk,rs925946_coded,rs9282861,rs9282861_nrisk,rs9282861_coded,rs9939609,rs9939609_nrisk,rs9939609_coded
0,01000261,A477AV494-007,NEXTCODE,WGS,Present,1.0,Present,1.0,CT,1.0,...,C,GG,2.0,G,TT,2.0,T,AT,1.0,A
1,01001298,DS-309044,WUXI_SNP,MEG,NaN,NaN,NaN,NaN,TT,0.0,...,C,NaN,NaN,G,NaN,NaN,T,TT,0.0,A
2,01001467,DS-303402,WUXI_SNP,MEG,NaN,NaN,NaN,NaN,TT,0.0,...,C,NaN,NaN,G,NaN,NaN,T,AT,1.0,A
3,01001548,DS-327770,WUXI_SNP,MEG,NaN,NaN,NaN,NaN,CT,1.0,...,C,NaN,NaN,G,NaN,NaN,T,AA,2.0,A
4,01001661,DS-268028,NEXTCODE,WGS,Absent,0.0,Absent,0.0,CC,2.0,...,C,GG,2.0,G,CC,0.0,T,TT,0.0,A

In [105]:
df.to_csv('Clean genetics_snp.tsv', sep='\t')