In [1]:
import pandas as pd

In [2]:
import numpy as np

In [23]:
data = [['John Smith', 'WI'], ['John Smith', 'MI'], ['Jeff Smith', 'MI']]
df = pd.DataFrame(data, columns = ["Name", "State"])
df

         Name State
0  John Smith    WI
1  John Smith    MI
2  Jeff Smith    MI

In [41]:
df['Name'] = df['Name'].str.slice(1,3,1)

In [42]:
df

  Name State
0   oh    WI
1   oh    MI
2   ef    MI